.greeting {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 2em;
}

.description {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-top: 1em;

}